DATA CLEANING : Handling duplicates, missing values and correcting errors

Handling Missing Data:

Load a CSV file into a Pandas DataFrame.
Check for missing values using df.isnull().sum().
Handle missing data by either filling with mean/median or dropping rows with missing values.

Sorting Data:

Sort the DataFrame by a single column (e.g., age or name).
Sort by multiple columns (e.g., name in descending order and age in ascending order).

In [ ]:
# replace or remove special characters in text fields
# remove special characters from'name'
# pandas
df('name') = df('name').str.replace(r'[^\w\s]','', regex = True)
print(df)

 r'[^\w\s]': This is a regular expression (regex). Let’s break it down:

 r'': The r before the quotes indicates a raw string, which means backslashes are treated as literal characters and not escape characters.

[^\w\s]: This is a character class.

\w matches any word character (equivalent to [a-zA-Z0-9_]).

\s matches any whitespace character (spaces, tabs, etc.).

^ inside the brackets negates the character class, so [^\w\s] matches any character that is not a word character or whitespace.

In [ ]:
--sql
SELECT id,
REGEXP_REPLACE(name, '[^a-zA-Z0-9\s]', '', 'g') AS name
FROM employees;

In [ ]:
# standardize values in column
# standardize department names (eg. change Sales to SALES)
#pandas
df['department'] = df['department'].str.upper()
print(df)

In [ ]:
--sql
UPDATE employees
SET department = UPPER(department)
WHERE department ='Sales';

In [ ]:
# to fill missing numerical data
#pandas
median_salary = df['salary'].median()
df['salary'].fillna (median_salary)

In [ ]:
# impute missing values with averages, medians or estimates
# misssing value check (it will list out all the column header with sum of null cell)
print('Method 1 :')
df.isnull().sum()

# take only the only column that have null column(have numbers)
var1 = [col for col in df.columns if df[col].isnull().sum()!=0]
print(df[var1].isnull().sum()) 

# create the visualisation for the missing value check
print('Method 12 :')
import missingno as msno
msno.matrix(df)
plt.show()

In [ ]:
# flag incomplete records for follow-up
df[df['Embarked'].isnull()]
# it will print out the list of rows that have 'null' for the Embarked column 

#  list out alll of the rows that have null value in the row
sample_incomplete_rows = df[df.isnull().any(axis=1)].head()
sample_incomplete_rows

Here’s a breakdown of what df.describe() does:

Numeric Columns: By default, df.describe() will summarize all numeric columns in the DataFrame. It provides the following statistics:
- Count: The number of non-null entries.

- Mean: The average of the values.

- Std: The standard deviation, which measures the amount of variation or dispersion of the values.

- Min: The minimum value.

- 25%: The 25th percentile (first quartile), which is the value below which 25% of the data falls.

- 50%: The 50th percentile (median), which is the middle value of the data.

- 75%: The 75th percentile (third quartile), which is the value below which 75% of the data falls.

- Max: The maximum value.

In [ ]:
summary_all = df.describe(include='all')
print(summary_all)

In [ ]:
df[df['Survived']==0].describe().T.style.background_gradient(subset=['mean','std','50%','count'], cmap='RdPu')

# df[df['Survived'] == 0]: This part filters the DataFrame df to include only the rows where the ‘Survived’ column is equal to 0. Essentially, it selects the data for passengers who did not survive.

#.describe(): This method generates descriptive statistics for the filtered DataFrame. It provides statistics like count, mean, standard deviation, min, 25th percentile, median (50%), 75th percentile, and max for each column.

# .T: This transposes the DataFrame, swapping rows and columns. After transposition, the statistics (like mean, std, etc.) become the columns, and the original columns of the DataFrame become the rows.

# .style.background_gradient(subset=['mean', 'std', '50%', 'count'], cmap='RdPu'): This applies a background gradient to the specified subset of columns (‘mean’, ‘std’, ‘50%’, and ‘count’) using the ‘RdPu’ colormap. The gradient helps visualize the values, with different shades representing different magnitudes.

In [ ]:
pip install ipykernel
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'Survived': [0, 1, 0, 1, 0],
    'Age': [22, 38, 26, 35, 28],
    'Fare': [7.25, 71.83, 7.92, 53.1, 8.05]
}

df = pd.DataFrame(data)

# Apply the code
styled_df = df[df['Survived'] == 0].describe().T.style.background_gradient(subset=['mean', 'std', '50%', 'count'], cmap='RdPu')

# Display the styled DataFrame
styled_df

# In this example, the DataFrame df contains data about passengers, including whether they survived, their age, and the fare they paid. The code filters out the passengers who did not survive, calculates descriptive statistics for them, transposes the result, and applies a background gradient to the specified columns.

:

In [ ]:
# value_counts for Multiple Columns
for col in df[['Survived','Sex','Embarked']]:
print(df[col].value_counts().to_frame())
print("****"*7)

count
Survived
0 547
1 340
****************************
count
Sex
male 575
female 312
****************************
count
Embarked
S 642
C 167
Q 76
***************************

In [ ]:
# identify unsual entries and incorrect errors

In [ ]:
# verify outliers or incorrect values based known standards

In [ ]:
# To convert Date Strings into a Consistent Date Format
# convert join_date into YYYY-MM-DD format:
#pandas
df['join_date'] = pd.to_datetime(df['join_date'], errors ='coerce')
print(df)

The error = 'coerce' argument in pd.to_datetime() is used to hnadle invalid date entries that cannot be converted to a valid datetime object.

In [ ]:
# to remove extra spaces from text fields
# pandas
# remove extra space from the name
df['name'] = df['name'].str.strip()

In [ ]:
--sql
SELECT trim(name) as name from employees;

In [ ]:
# to convert text to upper case to ensure consistency
# pandas
df['role'] - df['role'].str.upper()

In [ ]:
--sql
SELECT id, name, age, gender, salary, join_date,
        UPPER(role) AS role
FROM employees;

In [ ]:
# Identifying and deleting duplicated rows based on key columns
# pandas
# remove dupliactes based on 'name' and 'age'
df.drop_duplicates(subset = ['name','age'], keep = 'first', inplace = True)
print(df)

In [ ]:
--sql
-- if the row number more than 1, consider as duplicated row as the id also duplicated
WITH CTE AS (
    SELECT
    id
    ,column1
    ,column2
    ,
    ROW_NUMBER() OVER (PARTITION BY column1, column2 ORDER BY id) AS ROW_NUMBER
    FROM sales
)
DELETE FROM sales
WHERE id IN (
    SELECT id
    FROM CTE
    WHERE row_num > 1 
)

In [ ]:
# Drop rows with missing values
clean_df = df.dropna()

# Replace missing values with a default value
clean_df = df.fillna(0)

# Rename columns
clean_df = df.rename(columns={'name': 'full_name'})

DATA FILTERING : Focusing on speficic segments of data

Data Filtering and Subsetting:

Filter the DataFrame based on a condition (e.g., rows where age > 30).
Extract specific columns from the DataFrame for analysis.

In [ ]:
# to view the data types every column
df1 = df.copy()
df1.dtypes

In [ ]:
# filter out outliers
# investigate outliers to determine if they are valid data points or errors

In [ ]:
# remove or flag extreme values that may distort results.

CREATING DATAFRAMES

In [ ]:
import pandas as pd

data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age': [25, 30, 35, 40, 45],
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']
}
df = pd.DataFrame(data)
print(df)

In [ ]:
# reading data from files
import pandas as pd

df = pd.read_csv('data.csv')
print(df)

INDEXING AND SELECTING DATA

In [ ]:
# Select a column by name
names = df['name']
print(names)

# Select multiple columns by name
subset = df[['name', 'age']]
print(subset)

# Select rows by index
row = df.loc[0]  # Select the first row
print(row)

# Select rows by condition
subdf = df[df['age'] > 30]  # Select rows where age is greater than 30
print(subdf)

DATA AGGREGATION : Summarizing data(sums,averages, counts)

Basic Mathematical Operations with Pandas:

Perform operations like adding a new column to the DataFrame that contains the square root of an existing column (e.g., age).
Convert the result of the mathematical operation to an integer.

In [ ]:
# Compute the mean age
mean_age = df['age'].mean()
print(mean_age)

# Group by a column and compute the mean of another column
grouped = df.groupby('city')['age'].mean()
print(grouped)

COLUMN SPLITTING & MERGING : Structing data for ease of analysis

In [ ]:
# column splitting
import pandas as pd

# Sample DataFrame
data = {'FullName': ['John Doe', 'Jane Smith', 'Alice Johnson']}
df = pd.DataFrame(data)

# Split the 'FullName' column into 'FirstName' and 'LastName'
df[['FirstName', 'LastName']] = df['FullName'].str.split(' ', expand=True)

print(df)

         FullName FirstName LastName
0        John Doe      John      Doe
1      Jane Smith      Jane    Smith
2  Alice Johnson     Alice  Johnson

In [ ]:
# column merging

import pandas as pd

# Sample DataFrame
data = {'FirstName': ['John', 'Jane', 'Alice'], 'LastName': ['Doe', 'Smith', 'Johnson']}
df = pd.DataFrame(data)

# Merge the 'FirstName' and 'LastName' columns into 'FullName'
df['FullName'] = df['FirstName'] + ' ' + df['LastName']

print(df)

  FirstName LastName        FullName
0      John      Doe        John Doe
1      Jane    Smith      Jane Smith
2     Alice  Johnson  Alice Johnson

In [ ]:
# combining both techniques

import pandas as pd

# Sample DataFrame
data = {'FullName': ['John Doe', 'Jane Smith', 'Alice Johnson']}
df = pd.DataFrame(data)

# Split the 'FullName' column
df[['FirstName', 'LastName']] = df['FullName'].str.split(' ', expand=True)

# Perform some operations (e.g., capitalize last names)
df['LastName'] = df['LastName'].str.upper()

# Merge the columns back into 'FullName'
df['FullName'] = df['FirstName'] + ' ' + df['LastName']

print(df)

         FullName FirstName LastName
0        John DOE      John      DOE
1      Jane SMITH      Jane    SMITH
2  Alice JOHNSON     Alice  JOHNSON

In [ ]:
# handling missing data during column splitting

import pandas as pd

# Sample DataFrame with missing values
data = {'FullName': ['John Doe', 'Jane Smith', None, 'Alice Johnson', '']}
df = pd.DataFrame(data)

print(df)

         FullName
0        John Doe
1      Jane Smith
2            None
3  Alice Johnson
4

In [ ]:
# strategy 1 : fill missing values before splitting
# Fill missing values with a placeholder
df['FullName'].fillna('Unknown Unknown', inplace=True)
df['FullName'].replace('', 'Unknown Unknown', inplace=True)

# Split the 'FullName' column
df[['FirstName', 'LastName']] = df['FullName'].str.split(' ', expand=True)

print(df)

         FullName FirstName  LastName
0        John Doe      John       Doe
1      Jane Smith      Jane     Smith
2  Unknown Unknown   Unknown   Unknown
3  Alice Johnson     Alice   Johnson
4  Unknown Unknown   Unknown   Unknown

In [ ]:
# startegy 2 : handle missing values during spliting
# Split the 'FullName' column
df[['FirstName', 'LastName']] = df['FullName'].str.split(' ', expand=True)

# Fill missing values in the new columns
df['FirstName'].fillna('Unknown', inplace=True)
df['LastName'].fillna('Unknown', inplace=True)

print(df)

         FullName FirstName  LastName
0        John Doe      John       Doe
1      Jane Smith      Jane     Smith
2            None   Unknown   Unknown
3  Alice Johnson     Alice   Johnson
4                Unknown   Unknown

In [ ]:
# strategy 3 : use a custom function
# Custom function to split names and handle missing values
def split_name(full_name):
    if pd.isna(full_name) or full_name == '':
        return ['Unknown', 'Unknown']
    parts = full_name.split(' ', 1)
    if len(parts) == 1:
        parts.append('Unknown')
    return parts

# Apply the custom function
df[['FirstName', 'LastName']] = df['FullName'].apply(split_name).apply(pd.Series)

print(df)

         FullName FirstName  LastName
0        John Doe      John       Doe
1      Jane Smith      Jane     Smith
2            None   Unknown   Unknown
3  Alice Johnson     Alice   Johnson
4                Unknown   Unknown

PIVOTING/UNPIVOTING : Reshaping data for better insights.

Pivoting
Pivoting is the process of transforming data from a long format to a wide format. This is useful when you want to summarize data and make it easier to analyze.

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
}

df = pd.DataFrame(data)

# Pivot the DataFrame
pivot_df = df.pivot(index='Date', columns='Product', values='Sales')

print(pivot_df)

Product         A    B
Date                  
2024-01-01  100  150
2024-01-02  200  250

Unpivoting (Melting)
Unpivoting, or melting, is the process of transforming data from a wide format to a long format. This is useful when you want to normalize your data and make it easier to work with for certain types of analysis.

In [ ]:
# Unpivot the DataFrame
melted_df = pivot_df.reset_index().melt(id_vars='Date', value_vars=['A', 'B'], var_name='Product', value_name='Sales')

print(melted_df)

         Date Product  Sales
0  2024-01-01       A    100
1  2024-01-02       A    200
2  2024-01-01       B    150
3  2024-01-02       B    250

Combining Both Techniques

You can combine pivoting and unpivoting to reshape your data as needed for different types of analysis.

In [ ]:
# Sample DataFrame
data = {
    'Date': ['2024-01-01', '2024-01-01', '2024-01-02', '2024-01-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
}

df = pd.DataFrame(data)

# Pivot the DataFrame
pivot_df = df.pivot(index='Date', columns='Product', values='Sales')

# Unpivot the DataFrame
melted_df = pivot_df.reset_index().melt(id_vars='Date', value_vars=['A', 'B'], var_name='Product', value_name='Sales')

print("Pivoted DataFrame:")
print(pivot_df)

print("\nUnpivoted DataFrame:")
print(melted_df)

Pivoted DataFrame:
Product         A    B
Date                  
2024-01-01  100  150
2024-01-02  200  250

Unpivoted DataFrame:
         Date Product  Sales
0  2024-01-01       A    100
1  2024-01-02       A    200
2  2024-01-01       B    150
3  2024-01-02       B    250

Benefits of Pivoting and Unpivoting

- Pivoting: Summarizes data, making it easier to analyze and visualize.

- Unpivoting: Normalizes data, making it easier to perform operations like filtering, grouping, and aggregating.

DATA VISUALIZATION

In [ ]:
import matplotlib.pyplot as plt

# Sample data
x = [1, 2, 3, 4, 5]
y = [10, 20, 25, 30, 40]

# Create a line plot
plt.plot(x, y)
plt.title('Simple Line Plot')
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.show()

In [ ]:
import seaborn as sns
import pandas as pd

# Sample data
data = pd.DataFrame({
    'x': [1, 2, 3, 4, 5],
    'y': [10, 20, 25, 30, 40]
})

# Create a scatter plot with regression line
sns.lmplot(x='x', y='y', data=data)
plt.title('Scatter Plot with Regression Line')
plt.show()

In [ ]:
import plotly.express as px

# Sample data
data = {
    'Fruit': ['Apples', 'Oranges', 'Bananas', 'Grapes'],
    'Amount': [10, 15, 7, 12]
}

# Create a bar chart
fig = px.bar(data, x='Fruit', y='Amount', title='Fruit Sales')
fig.show()

In [ ]:
from bokeh.plotting import figure, show
from bokeh.io import output_notebook

# Enable output in Jupyter Notebook
output_notebook()

# Sample data
x = [1, 2, 3, 4, 5]
y = [10, 20, 25, 30, 40]

# Create a line plot
p = figure(title="Interactive Line Plot", x_axis_label='X-axis', y_axis_label='Y-axis')
p.line(x, y, legend_label='Line', line_width=2)

show(p)

In [ ]:
import altair as alt
import pandas as pd

# Sample data
data = pd.DataFrame({
    'x': [1, 2, 3, 4, 5],
    'y': [10, 20, 25, 30, 40]
})

# Create a scatter plot
chart = alt.Chart(data).mark_point().encode(
    x='x',
    y='y'
).properties(
    title='Simple Scatter Plot'
)

chart.show()

In [ ]:
import altair as alt
import pandas as pd

# Sample data
data = pd.DataFrame({
    'x': [1, 2, 3, 4, 5],
    'y': [10, 20, 25, 30, 40]
})

# Create a scatter plot
chart = alt.Chart(data).mark_point().encode(
    x='x',
    y='y'
).properties(
    title='Simple Scatter Plot'
)

chart.show()

In [ ]:
import seaborn as sns
import pandas as pd

# Sample data
data = pd.DataFrame({
    'x': [1, 2, 3, 4, 5],
    'y': [10, 20, 25, 30, 40]
})

# Create a scatter plot with customizations
sns.set(style='whitegrid')
scatter_plot = sns.scatterplot(x='x', y='y', data=data, color='red', s=100, marker='D')
scatter_plot.set_title('Customized Scatter Plot', fontsize=14, fontweight='bold')
scatter_plot.set_xlabel('X-axis', fontsize=12)
scatter_plot.set_ylabel('Y-axis', fontsize=12)
plt.xticks(fontsize=10, rotation=45)
plt.yticks(fontsize=10)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Sample data
data = pd.DataFrame({
    'x': [1, 2, 3, 4, 5],
    'y': [10, 20, 25, 30, 40]
})

# Set Seaborn style
sns.set(style='whitegrid')

# Create a customized scatter plot
plt.figure(dpi=100)
scatter_plot = sns.scatterplot(x='x', y='y', data=data, color='blue', s=100, marker='o')
scatter_plot.set_title('Fully Customized Scatter Plot', fontsize=16, fontweight='bold')
scatter_plot.set_xlabel('X-axis Label', fontsize=14)
scatter_plot.set_ylabel('Y-axis Label', fontsize=14)
plt.xticks(fontsize=12, rotation=45)
plt.yticks(fontsize=12)
plt.grid(True, linestyle='--', linewidth=0.5)
plt.show()

Additional Customization Options
1. Colors and Styles
Matplotlib: Use the color, linestyle, and marker parameters to customize colors and styles.
Seaborn: Use the palette parameter to set color palettes.
2. Titles and Labels
Matplotlib: Use plt.title(), plt.xlabel(), and plt.ylabel() to set titles and labels.
Seaborn: Use the set_title(), set_xlabel(), and set_ylabel() methods.
3. Legends
Matplotlib: Use plt.legend() to add and customize legends.
Seaborn: Legends are automatically added, but you can customize them using the legend parameter.
4. Grid and Ticks
Matplotlib: Use plt.grid() to add grids and plt.xticks()/plt.yticks() to customize ticks.
Seaborn: Grids are part of the style settings, and you can customize ticks using the set_xticks() and set_yticks() methods.